<% var data = {
  title: "Заголовок | Проект",
  author: "Mugenzo"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
    <div id="app">
        <hello-world></hello-world>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>